<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{::body/content()})}">
<head>
  <meta charset="UTF-8">
</head>
<body id="main">
<div>kondo's Room Main
  <h1 th:text="${message}"></h1>

  <table>
    <thead>

    </thead>
    <tbody>
    <tr>
      <td><a href="/rooms/kondo/list">sample Table</a></td>
      <td>ThymeLeafのテーブルサンプル</td>
    </tr>
    <tr>
      <td><a href="/rooms/kondo/slackapi/channel">slackチャンネル一覧</a></td>
      <td>SlackAPIを使用したサンプル</td>
    </tr>

    </tbody>
  </table>


</div>
</body>
</html>