<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{::body/content()})}">
<head>
  <meta charset="UTF-8">
</head>
<body id="main">
<div>
  <h1> SlackAPI Main</h1>

  <table>
    <thead>
    <tr>
      <td>リンク</td>
      <td>説明</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="/rooms/slackapi/reaction/init">SlackAPI検証 リアクション集計(チャンネル毎)</a></td>
      <td>チャンネルIDと集計月をパラメータに指定し集計する。</br>トップ10の絵文字とリアクション数を返す</td>
    </tr>

    </tbody>
  </table>


</div>
</body>
</html>